@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../styles/Font.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color1: #2F4659;
  --color2: #26BFA3;
  --color3: #F2C12E;
  --color4: #D9593D;
  --color5: #F2F2F2;
  --color6: #FE8F1F;
  --color7: #F15B43;
  --color8: #6A6A6A;
  --color9: #14162E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color1: #2F4659;
    --color2: #26BFA3;
    --color3: #F2C12E;
    --color4: #D9593D;
    --color5: #F2F2F2;
    --color6: #FE8F1F;
    --color7: #F15B43;
    --color8: #6A6A6A;
    --color9: #14162E;
  }
}

*,::after,::before {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.background-blue {
  background-color: var(--color1);
}

.background-red {
  background-color: var(--color4);
}

.background-green {
  background-color: var(--color2)
}

.background-yellow {
  background-color: var(--color3);
}

.background-white {
  background-color: var(--color5);
}

.text-color-blue {
  color: var(--color1);
}


.text-color-red {
  color: var(--color7);
}

.text-color-orange {
  color: var(--color6)
}

.text-color-grey {
  color: var(--color8);
}

.nav-links {
  color: var(--color8);
}

.nav-links:hover {
  color: var(--color6);
}

.title-color {
  color: var(--color9);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu__icon {
  width: 40px;
  display: flex;
  flex-direction: column;
}

.menu__icon div {
  border-radius: 2px;
  height: 6px;
  background-color: black;
}

.menu__icon div:nth-child(2) {
  margin: 6px 0;
}

.menu__icon.active div:nth-child(1) {
  animation: menuAnim1 0.3s ease-in-out forwards;
}

.menu__icon.active div:nth-child(2) {
  animation: menuAnim2 0.3s ease-in-out forwards;
}

.menu__icon.active div:nth-child(3) {
  animation: menuAnim3 0.3s ease-in-out forwards;
}

.menu__icon.inactive div:nth-child(1) {
  animation: revmenuAnim1 0.3s ease-in-out;
}

.menu__icon.inactive div:nth-child(2) {
  animation: revmenuAnim2 0.3s ease-in-out;
}

.menu__icon.inactive div:nth-child(3) {
  animation: revmenuAnim3 0.3s ease-in-out;
}

@keyframes menuAnim1 {
  0% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(12px) rotateZ(45deg);
  }
}

@keyframes menuAnim2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes menuAnim3 {
  0% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(-12px) rotateZ(135deg);
  }
}

@keyframes revmenuAnim1 {
  0% {
    transform: translateY(12px) rotateZ(45deg);
  }

  70% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(0px) rotateZ(0deg);
  }
}

@keyframes revmenuAnim2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes revmenuAnim3 {
  0% {
    transform: translateY(-12px) rotateZ(135deg);
  }

  70% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0) rotateZ(0);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 288px;
  height: calc(100vh - 76px);
  /* my header height was 76px */
  right: -288px;
  top: 76px;
  padding: 24px 16px;
  row-gap: 16px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.menu.active {
  right: 0;
}

@media screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
    column-gap: 24px;
    position: unset;
    width: fit-content;
    height: fit-content;
  }

  .nav__item::after {
    position: absolute;
    content: "";
    bottom: -26px;
    width: 0%;
    left: 0;
    height: 6px;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__item:hover::after,
  .nav__item.active::after {
    width: 100%;
  }
}